* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

//Helpers
.shadow {
    -webkit-box-shadow: 5px 5px 15px 0px #000000; 
    box-shadow: 5px 5px 15px 0px #000000;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: #000;
}

.eco-green {
    color: rgb(169, 201, 56);
}

#main-nav {
    position: fixed;
    width: 100%;
    background-color: #003f75;
    z-index: 3;
    -webkit-box-shadow: 0px 5px 40px 5px #000000;
    box-shadow: 0px 5px 40px 5px #000000;

    img:first-child {
        height: 60px;
        transform: scale(1.4);
    }

    #eu-eco-logo-nav {
        height: 25px;
        position: relative;
        top: -10px;
        left: 5px;
    }
    
    .underline:after {
        content: '';
        width: 0px;
        height: 2px;
        display: block;
        background-color: #fff;
        margin-left: 0;
        border: none;
        transition: 0.3s all;
    }

    .underline:hover:after {
        width: 100%;
    }

}

header {
    height: 100vh;
    position: relative;
    display: flex;

    #header-mask {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        background: linear-gradient(to bottom left, rgba(0, 0, 0, 0), rgba(0, 63, 117, .5));
    }

    #HeroVideo {
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }

    #logo-background {
        position: absolute;
        background-color: #fff;
        z-index: 2;
        width: 30vh;
        height: 30vh;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 3%;
        right: 10%;
    }

    img {
        position: relative;
        height: 115%;
        top: 5px;
        left: -5px;
    }

    #title-mask {
        margin-left: 5%;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        bottom: 15%;
        left: 0;
        color: #fff;
        text-shadow: 2px 2px 10px #000;
        width: 80%;

        h1 {
            text-transform: uppercase;
            font-size: 60px;
            font-family: 'Belleza', sans-serif;
        }

        a {
            font-size: 60px;
            color: #fff;
            text-decoration: none;
            transition: all .3s;
            
        }

        a:hover {
            color: #003f75;
        }

    }

    #links {
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 15vh;
        top: 0;
        left: 0;
        background-color: #003f75;
        -webkit-box-shadow: 0px 2px 40px 5px #000000;
        box-shadow: 0px 2px 40px 5px #000000;

        div {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 60%;
            height: 100%;

            a {
                color: #fff;
                font-size: 16px;
                text-decoration: none;
                transition: all .2s;
                font-weight: bold;
            }

            a:after {
                content: '';
                width: 0px;
                height: 2px;
                display: block;
                background-color: #fff;
                transition: 0.3s all;
            }

            a:hover:after {
                width: 100%;
            }
            
            #eu-eco-logo-header {
                height: 25px;
                position: relative;
                top: -10px;
                left: 5px;
            }
        }
    }
}

#section-divider-1 {

    #divider-pounds {
        background-image: url('../resources/galeria/01.jpg');
        
    }
}

#section-divider-2 {

    #divider-pounds-second {
        background-image: url('../resources/galeria/04.JPG');
    }
}

.section-dividers {
    position: relative;
    height: 300px;
    overflow: hidden;
    
    .dividers {
        background-position: center;
        background-size: cover;
        height: 600px;
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}


section {
    position: relative;
    z-index: 1;
    padding-top: 120px;

    p {
        text-align: justify;
    }

    .bold {
        font-weight: bold;
    }

    h3 {
        width: 100%;
        background-color: #003f75;
        padding: 20px;
        margin-bottom: 30px;
        color: #fff;
        font-weight: bold;
    }


}

#eco-fish-section {
    top: -120px;
    margin-bottom: -150px;
    
    #eco-logo {
        position: absolute;
        top: 125px;
        right: 5px;
        height: 63px;
    }
    
    .col-sm {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        
        .certificates-box {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 200px;
            width: 300px;
            overflow: hidden;
            
            .certificate {
                height: 100%;
                width: 100%;
                transition: all .3s;
                
                .cert-mask {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: 100%;
                    transition: all .3s;
                    
                    i {
                        color: #95A5A6;
                        font-size: 50px;
                        transition: all .3s;
                    }
                }
            }
            
            .certificate:hover {
                transform: scale(1.2);
                cursor: pointer;
                
                .cert-mask {
                    background-color: rgba(0, 63, 117, .8);
                    
                    i {
                        color: #fff;
                    }
                }
            }
        }
    }
}

#processing-section {
    height: 100vh;
    
    h3 {
        margin: 0;
    }
    
    #background-process-box {
        height: calc(100% + 50px);
        background-image: url('../resources/galeria/19.JPG');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: gray;
        
        #background-process-box-mask {
            height: 100%;
            background: linear-gradient(to right bottom, #fff, rgba(0, 63, 117, .8));
        }
    }
    
    .container {
        height: inherit;
        
        .row {
            height: inherit;
            .col-lg {
                height: inherit;
                display: flex;
                align-content: center;
                justify-content: center;
                flex-wrap: wrap;
                
                img {
                    height: 40vh;
                }
                
                p {
                    width: 100%;
                    font-size: 20px;
                    text-align: center;
                }
            }
        }
    }
}

#offer-section {
    padding-bottom: -100px;

    p:first-child {
//        font-weight: bold;
        font-size: 30px;
        text-align: center;
    }

    .row {
        .col-sm {
            padding: 50px;

            h4 {
                min-height: 60px;
                font-weight: bold;
            }
            
            ul {
                list-style: none;
                
                li {
                    text-transform: capitalize;
                    padding: 5px;
                    margin: 10px;
                    background-color: #003f75;
                    color: #fff;
                    border-radius: 5px;
                    text-align: center;
                }
            }
        }

    }

    .row:last-child {
        .col-sm {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
        }
    }

    .fish-photo {
        width: calc(100% - 50px);
        height: 250px;
        overflow: hidden;
    }

    .fish-photo-box {
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100%;
        transition: all .3s;

        .fish-mask {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(0, 63, 117, 0);
            transition: all .3s;

            i {
                color: transparent;
                font-size: 50px;
                transition: all .3s;
            }
        }
    }

    .fish-photo {
        .fish-photo-box:hover {
            cursor: pointer;
            transform: scale(1.2);
            
            .fish-mask {
                background-color: rgba(0, 63, 117, .5);
                
                i {
                    color: #fff;
                }
            }
        }
    }

    #fish-1 {
        background-image: url('../resources/fish-1.jpg');
    }

    #fish-2 {
        background-image: url('../resources/fish-2.jpg');
    }

    #fish-3 {
        background-image: url('../resources/fish-3.jpg');
    }

    #fishes-photos {
        padding-top: 100px;
    }    
}

#fish-photo-fixed {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        height: 80vh;
    }
}

#gallery-section {
    
    .col-sm {
        display: flex;
        justify-content: center;
    }
    
    .col-lg-12:first-child {
        margin-bottom: 100px;
    }
    
    //slider
    #gallery-slide-box {
        display: none;
    }
    
    #gallery-slide {
        width: 100%;
    }
    
    .carousel-inner {
        height: 70vh;
        
        div {
            display: inline-block;
            height: 100%;
            width: 100%;
            background-size: cover;
            background-position: center;
        }
    }
    
    //normal gallery
    #desktop-gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        .gallery-photos-box {
            display: inline-block;
            height: 200px;
            width: 300px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-content: center;
            
            .gallery-photos {
                height: 100%;
                width: 100%;
                background-position: center;
                background-size: cover;
                transition: all .3s;

                .photo-g-mask {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: all .3s;

                    i {
                        font-size: 40px;
                        color: transparent;
                        transition: all .3s;
                    }
                }
            }
            
            .gallery-photos:hover {
                transform: scale(1.2);
                cursor: pointer;
                
                .photo-g-mask {
                    background-color: rgba(0, 63, 117, .5);
                    
                    i {
                        color: #fff;
                    }
                }
            }
        }
    }
}


#projects-section {
    margin-bottom: 50px;
    
    .projects-box {
        width: 300px;
        height: 210px;
        margin-top: 50px;
        transition: all .3s;
        background-position: center;
        background-size: cover;
        overflow: hidden;

        .proj-mask {
            height: 100%;
            width: 100%;
            transition: all .3s;
            display: flex;
            align-items: center;
            justify-content: center;
            
            i {
                color: #95A5A6;
                font-size: 50px;
                transition: all .3s;
            }
        }
    }
    
    #proj1 {
        background-image: url('../resources/projects/tablica_di_bond_wymiar_A3_Iwona_Wieczorek.jpg');
    }
    
    #proj2 {
        background-image: url('../resources/projects/tablica_di_bond_wymiar_A3_Wieczorek_Iwona_wodsrod.jpg');
    }
    
    #proj3 {
        background-image: url('../resources/projects/tablica_dibond_wymiar_a3_Modernizacja_przetwornia.jpg');
    }
    
    #proj4 {
        background-image: url('../resources/projects/tablica_dibond_wymiar_a3_Modernizacja_wedkarskie.jpg')
    }
    
    #proj5 {
        background-image: url('../resources/projects/tablica_dibond_wymiar_a3_Modernizacja_zawolcze.jpg');
    }

    .projects-box:hover {
        cursor: pointer;
        
        .proj-mask {
            background-color: rgba(0, 63, 117, .5);
            
            i {
                color: #fff;
                font-size: 100px;
            }
        }
    }

    .col-sm {
        display: flex;
        align-items: center;
        justify-content: center;

    }
}

#certificate-fixed-container {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    embed {
        width: 80%;
        height: 80%;
    }
}

#contact-section {
    min-height: 100vh;
    top: -130px;
    
    .container {
        height: 100%;
        
        .row {
            height: inherit;
            .col-sm, .col-lg {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;


                p {
                    text-align: center;
                }

                p:first-child {
                    font-weight: bold;
                }

            }
            
            .col-lg:last-child {
                display: inline-block;
                padding-bottom: 110px;

                a {
                    margin: 20px auto;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100px;
                    width: 100px;
                    border-radius: 50%;
                    border: 3px solid #003f75;
                    text-decoration: none;
                    color: #003f75;
                    font-size: 50px;
                    transition: all .3s;
                }

                a:hover {
                    background-color: #003f75;
                    color: #fff;
                }
            }
        }
    
        .row:last-child {
            margin-top: 50px;
        }
    }
    
    #swan-on-background {
        position: absolute;
        height: 70%;
        bottom: 0;
        z-index: -1;
        width: 100%;
        right: 0;
        background-image: url('../resources/swan.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    #contact-mask {
        background: linear-gradient(to right bottom, rgba(256,256,256, .4), rgba(256,256,256, 1));
    }
}

footer {
    position: relative;
    z-index: 2;
    margin-top: -130px;
    background-color: #2C3E50;
    padding: 50px;
    -webkit-box-shadow: 0px -5px 40px 5px #000000;
    box-shadow: 0px -5px 40px 5px #000000;

    p {
        text-align: center;
        color: #fff;
    }
}
