* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.shadow {
    -webkit-box-shadow: 5px 5px 15px 0px #000000;
    box-shadow: 5px 5px 15px 0px #000000;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: #000;
}

.eco-green {
    color: #a9c938;
    text-transform: uppercase;
}

#main-nav {
    position: fixed;
    width: 100%;
    background-color: #003f75;
    z-index: 3;
    -webkit-box-shadow: 0px 5px 40px 5px #000000;
    box-shadow: 0px 5px 40px 5px #000000;
}

#main-nav img:first-child {
    height: 60px;
    transform: scale(1.4);
}

#main-nav #eu-eco-logo-nav {
    height: 25px;
    position: relative;
    top: -10px;
    left: 5px;
}

#main-nav .underline:after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background-color: #fff;
    margin-left: 0;
    border: none;
    transition: 0.3s all;
}

#main-nav .underline:hover:after {
    width: 100%;
}

header {
    height: 100vh;
    position: relative;
    display: flex;
}

header #header-mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: linear-gradient(to bottom left, rgba(0, 0, 0, 0), rgba(0, 63, 117, 0.5));
}

header #HeroVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

header #logo-background {
    position: absolute;
    background-color: #fff;
    z-index: 2;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 3%;
    right: 10%;
}

header img {
    position: relative;
    height: 115%;
    top: 5px;
    left: -5px;
}

header #title-mask {
    margin-left: 5%;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 15%;
    left: 0;
    color: #fff;
    text-shadow: 2px 2px 10px #000;
    width: 80%;
}

header #title-mask h1 {
    text-transform: uppercase;
    font-size: 60px;
    font-family: 'Belleza', sans-serif;
}

header #title-mask a {
    font-size: 60px;
    color: #fff;
    text-decoration: none;
    transition: all .3s;
}

header #title-mask a:hover {
    color: #003f75;
}

header #links {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 15vh;
    top: 0;
    left: 0;
    background-color: #003f75;
    -webkit-box-shadow: 0px 2px 40px 5px #000000;
    box-shadow: 0px 2px 40px 5px #000000;
}

header #links div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    height: 100%;
}

header #links div a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: all .2s;
    font-weight: bold;
}

header #links div a:after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background-color: #fff;
    transition: 0.3s all;
}

header #links div a:hover:after {
    width: 100%;
}

header #links div #eu-eco-logo-header {
    height: 25px;
    position: relative;
    top: -10px;
    left: 5px;
}

#section-divider-1 #divider-pounds {
    background-image: url("../resources/galeria/01.JPG");
}

#section-divider-2 #divider-pounds-second {
    background-image: url("../resources/galeria/04.JPG");
}

.section-dividers {
    position: relative;
    height: 300px;
    overflow: hidden;
}

.section-dividers .dividers {
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

section {
    position: relative;
    z-index: 1;
    padding-top: 120px;
}

section p {
    text-align: justify;
}

section .bold {
    font-weight: bold;
}

section h3 {
    width: 100%;
    background-color: #003f75;
    padding: 20px;
    margin-bottom: 30px;
    color: #fff;
    font-weight: bold;
}

#eco-fish-section {
    top: -120px;
    margin-bottom: -150px;
}

#eco-fish-section #eco-logo {
    position: absolute;
    top: 125px;
    right: 5px;
    height: 63px;
}

#eco-fish-section .col-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#eco-fish-section .col-sm .certificates-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
    overflow: hidden;
}

#eco-fish-section .col-sm .certificates-box .certificate {
    height: 100%;
    width: 100%;
    transition: all .3s;
    background-position: center;
    background-size: cover;
}

#eco-fish-section .col-sm .certificates-box .certificate .cert-mask {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    transition: all .3s;
}

#eco-fish-section .col-sm .certificates-box .certificate .cert-mask i {
    color: #95A5A6;
    font-size: 50px;
    transition: all .3s;
}

#eco-fish-section .col-sm .certificates-box #cert1 {
    background-image: url("../resources/dobre_praktyki.jpg");
    background-position: top;
}

#eco-fish-section .col-sm .certificates-box #cert2 {
    background-image: url("../resources/certyfikat_granat.jpg");
}

#eco-fish-section .col-sm .certificates-box .certificate:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#eco-fish-section .col-sm .certificates-box .certificate:hover .cert-mask {
    background-color: rgba(0, 63, 117, 0.8);
}

#eco-fish-section .col-sm .certificates-box .certificate:hover .cert-mask i {
    color: #fff;
}

#processing-section {
    height: 100vh;
}

#processing-section h3 {
    margin: 0;
}

#processing-section #background-process-box {
    height: calc(100% + 50px);
    background-image: url("../resources/galeria/19.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: gray;
}

#processing-section #background-process-box #background-process-box-mask {
    height: 100%;
    background: linear-gradient(to right bottom, #fff, rgba(0, 63, 117, 0.8));
}

#processing-section .container {
    height: inherit;
}

#processing-section .container .row {
    height: inherit;
}

#processing-section .container .row .col-lg {
    height: inherit;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

#processing-section .container .row .col-lg img {
    height: 40vh;
}

#processing-section .container .row .col-lg p {
    width: 100%;
    font-size: 20px;
    text-align: center;
}

#offer-section {
    padding-bottom: -100px;
}

#offer-section p:first-child {
    font-size: 30px;
    text-align: center;
}

#offer-section .row .col-sm {
    padding: 50px;
}

#offer-section .row .col-sm h4 {
    min-height: 60px;
    font-weight: bold;
}

#offer-section .row .col-sm ul {
    list-style: none;
}

#offer-section .row .col-sm ul li {
    text-transform: capitalize;
    padding: 5px;
    margin: 10px;
    background-color: #003f75;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}

#offer-section .row:last-child .col-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#offer-section .fish-photo {
    width: calc(100% - 50px);
    height: 250px;
    overflow: hidden;
}

#offer-section .fish-photo-box {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: all .3s;
}

#offer-section .fish-photo-box .fish-mask {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 63, 117, 0);
    transition: all .3s;
}

#offer-section .fish-photo-box .fish-mask i {
    color: transparent;
    font-size: 50px;
    transition: all .3s;
}

#offer-section .fish-photo .fish-photo-box:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#offer-section .fish-photo .fish-photo-box:hover .fish-mask {
    background-color: rgba(0, 63, 117, 0.5);
}

#offer-section .fish-photo .fish-photo-box:hover .fish-mask i {
    color: #fff;
}

#offer-section #fish-1 {
    background-image: url("../resources/fish-1.jpg");
}

#offer-section #fish-2 {
    background-image: url("../resources/fish-2.jpg");
}

#offer-section #fish-3 {
    background-image: url("../resources/fish-3.jpg");
}

#offer-section #fishes-photos {
    padding-top: 100px;
}

#fish-photo-fixed {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

#fish-photo-fixed img {
    height: 80vh;
}

#gallery-section .col-sm {
    display: flex;
    justify-content: center;
}

#gallery-section .col-lg-12:first-child {
    margin-bottom: 100px;
}

#gallery-section #gallery-slide-box {
    display: none;
}

#gallery-section #gallery-slide {
    width: 100%;
}

#gallery-section .carousel-inner {
    height: 70vh;
}

#gallery-section .carousel-inner div {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

#gallery-section #desktop-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#gallery-section #desktop-gallery .gallery-photos-box {
    display: inline-block;
    height: 200px;
    width: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
}

#gallery-section #desktop-gallery .gallery-photos-box .gallery-photos {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    transition: all .3s;
}

#gallery-section #desktop-gallery .gallery-photos-box .gallery-photos .photo-g-mask {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}

#gallery-section #desktop-gallery .gallery-photos-box .gallery-photos .photo-g-mask i {
    font-size: 40px;
    color: transparent;
    transition: all .3s;
}

#gallery-section #desktop-gallery .gallery-photos-box .gallery-photos:hover {
    transform: scale(1.2);
    cursor: pointer;
}

#gallery-section #desktop-gallery .gallery-photos-box .gallery-photos:hover .photo-g-mask {
    background-color: rgba(0, 63, 117, 0.5);
}

#gallery-section #desktop-gallery .gallery-photos-box .gallery-photos:hover .photo-g-mask i {
    color: #fff;
}

#projects-section {
    margin-bottom: 50px;
}

#projects-section .projects-box {
    width: 300px;
    height: 210px;
    margin-top: 50px;
    transition: all .3s;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#projects-section .projects-box .proj-mask {
    height: 100%;
    width: 100%;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects-section .projects-box .proj-mask i {
    color: #95A5A6;
    font-size: 50px;
    transition: all .3s;
}

#projects-section #proj1 {
    background-image: url("../resources/projects/tablica_di_bond_wymiar_A3_Iwona_Wieczorek.jpg");
}

#projects-section #proj2 {
    background-image: url("../resources/projects/tablica_di_bond_wymiar_A3_Wieczorek_Iwona_wodsrod.jpg");
}

#projects-section #proj3 {
    background-image: url("../resources/projects/tablica_dibond_wymiar_a3_Modernizacja_przetwornia.jpg");
}

#projects-section #proj4 {
    background-image: url("../resources/projects/tablica_dibond_wymiar_a3_Modernizacja_wedkarskie.jpg");
}

#projects-section #proj5 {
    background-image: url("../resources/projects/tablica_dibond_wymiar_a3_Modernizacja_zawolcze.jpg");
}

#projects-section .projects-box:hover {
    cursor: pointer;
}

#projects-section .projects-box:hover .proj-mask {
    background-color: rgba(0, 63, 117, 0.5);
}

#projects-section .projects-box:hover .proj-mask i {
    color: #fff;
    font-size: 100px;
}

#projects-section .col-sm {
    display: flex;
    align-items: center;
    justify-content: center;
}

#certificate-fixed-container {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#certificate-fixed-container embed {
    width: 80%;
    height: 80%;
}

#contact-section {
    top: -130px;
}

#contact-section .container .row .col-sm, #contact-section .container .row .col-lg {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#contact-section .container .row .col-sm p, #contact-section .container .row .col-lg p {
    text-align: center;
}

#contact-section .container .row .col-sm p:first-child, #contact-section .container .row .col-lg p:first-child {
    font-weight: bold;
}

#contact-section .container .row .col-lg:last-child {
    padding-bottom: 110px;
}

#contact-section .container .row .col-lg:last-child #media-box {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#contact-section .container .row .col-lg:last-child #media-box a {
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 3px solid #003f75;
    text-decoration: none;
    color: #003f75;
    font-size: 50px;
    transition: all .3s;
}

#contact-section .container .row .col-lg:last-child #media-box a:hover {
    background-color: #003f75;
    color: #fff;
}

#contact-section .container .row:last-child {
    margin-top: 50px;
}

#contact-section #swan-on-background {
    position: absolute;
    height: 70%;
    bottom: 0;
    z-index: -1;
    width: 100%;
    right: 0;
    background-image: url("../resources/swan.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#contact-section #contact-mask {
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), white);
    height: 100%;
}

footer {
    position: relative;
    z-index: 2;
    margin-top: -130px;
    background-color: #2C3E50;
    padding: 50px;
    -webkit-box-shadow: 0px -5px 40px 5px #000000;
    box-shadow: 0px -5px 40px 5px #000000;
}

footer .col-sm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

footer .col-sm img {
    height: 100px;
}

footer .col-sm p {
    color: #fff;
}

footer .col-sm #authors p {
    font-size: 10px;
    text-align: center;
    color: #808B96;
}

footer .col-sm #authors p a {
    text-decoration: none;
    color: #fff;
    transition: all .3s;
}

footer .col-sm #authors p a:hover {
    color: #3498DB;
}
