* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

.shadow {
    -webkit-box-shadow: 0px 5px 40px 5px #000000;
    box-shadow: 0px 5px 40px 5px #000000;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: #000;
}

#main-nav {
    position: fixed;
    width: 100%;
    background-color: #003f75;
    z-index: 3;
    -webkit-box-shadow: 0px 5px 40px 5px #000000;
    box-shadow: 0px 5px 40px 5px #000000;
}

#main-nav img {
    height: 60px;
}

#main-nav .underline:after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background-color: #fff;
    margin-left: 0;
    border: none;
    transition: 0.3s all;
}

#main-nav .underline:hover:after {
    width: 100%;
}

header {
    height: 100vh;
    position: relative;
    display: flex;
}

header #header-mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: linear-gradient(to bottom left, rgba(0, 0, 0, 0), rgba(0, 63, 117, 0.5));
}

header #HeroVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

header #logo-background {
    position: absolute;
    background-color: #fff;
    z-index: 2;
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 3%;
    right: 10%;
}

header img {
    position: relative;
    height: 115%;
    top: 5px;
    left: -5px;
}

header #title-mask {
    margin-left: 5%;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 15%;
    left: 0;
    color: #fff;
    text-shadow: 2px 2px 10px #000;
    width: 80%;
}

header #title-mask h1 {
    text-transform: uppercase;
    font-size: 60px;
    font-family: 'Belleza', sans-serif;
}

header #title-mask a {
    font-size: 60px;
    color: #fff;
    text-decoration: none;
    transition: all .3s;
}

header #title-mask a:hover {
    color: #003f75;
}

header #links {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 15vh;
    top: 0;
    left: 0;
    background-color: #003f75;
    -webkit-box-shadow: 0px 2px 40px 5px #000000;
    box-shadow: 0px 2px 40px 5px #000000;
}

header #links div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 60%;
    height: 100%;
}

header #links div a {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: all .2s;
    font-weight: bold;
}

header #links div a:after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background-color: #fff;
    transition: 0.3s all;
}

header #links div a:hover:after {
    width: 100%;
}

#section-divider-1 {
    position: relative;
    height: 300px;
    overflow: hidden;
}

#section-divider-1 #divider-pounds {
    background-image: url("../resources/Zaw%C3%B3lcze-3.jpg");
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

section {
    position: relative;
    z-index: 1;
    padding-top: 120px;
}

section p {
    text-align: justify;
}

section .bold {
    font-weight: bold;
}

section h3 {
    width: 100%;
    background-color: #003f75;
    padding: 20px;
    margin-bottom: 30px;
    color: #fff;
    font-weight: bold;
}

#eco-fish-section {
    top: -120px;
    margin-bottom: -150px;
}

#offer-section {
    padding-bottom: -100px;
}

#offer-section p:first-child {
    font-weight: bold;
}

#offer-section .row .col-sm {
    padding: 50px;
}

#offer-section .row .col-sm h4 {
    min-height: 60px;
    font-weight: bold;
}

#offer-section .row:last-child .col-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#offer-section .fish-photo {
    width: calc(100% - 50px);
    height: 250px;
    overflow: hidden;
}

#offer-section .fish-photo-box {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    transition: all .3s;
}

#offer-section .fish-photo-box .fish-mask {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 63, 117, 0);
    transition: all .3s;
}

#offer-section .fish-photo-box .fish-mask i {
    color: transparent;
    font-size: 50px;
    transition: all .3s;
}

#offer-section .fish-photo .fish-photo-box:hover {
    cursor: pointer;
    transform: scale(1.2);
}

#offer-section .fish-photo .fish-photo-box:hover .fish-mask {
    background-color: rgba(0, 63, 117, 0.5);
}

#offer-section .fish-photo .fish-photo-box:hover .fish-mask i {
    color: #fff;
}

#offer-section #fish-1 {
    background-image: url("../resources/fish-1.jpg");
}

#offer-section #fish-2 {
    background-image: url("../resources/fish-2.jpg");
}

#offer-section #fish-3 {
    background-image: url("../resources/fish-3.jpg");
}

#offer-section #fishes-photos {
    padding-top: 50px;
    margin-top: -100px;
}

#fish-photo-fixed {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

#fish-photo-fixed img {
    height: 80vh;
}

#gallery-section {
    height: 100vh;
}

#gallery-section .col-sm {
    display: flex;
    justify-content: center;
}

#gallery-section #gallery-slide {
    width: 70%;
}

#gallery-section .carousel-inner {
    height: 70vh;
}

#gallery-section .carousel-inner div {
    display: inline-block;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
}

#contact-section .col-lg {
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact-section .col-lg p {
    text-align: center;
}

#contact-section .col-lg p:first-child {
    font-weight: bold;
}

#projects-section .certificates-box {
    width: 300px;
    height: 210px;
    margin-top: 50px;
    transition: all .3s;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

#projects-section .certificates-box .cert-mask {
    height: 100%;
    width: 100%;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projects-section .certificates-box .cert-mask i {
    color: #95A5A6;
    font-size: 50px;
    transition: all .3s;
}

#projects-section #cert1 {
    background-image: url("../resources/projects/tablica_di_bond_wymiar_A3_Iwona_Wieczorek.jpg");
}

#projects-section #cert2 {
    background-image: url("../resources/projects/tablica_di_bond_wymiar_A3_Wieczorek_Iwona_wodsrod.jpg");
}

#projects-section #cert3 {
    background-image: url("../resources/projects/tablica_dibond_wymiar_a3_Modernizacja_przetwornia.jpg");
}

#projects-section #cert4 {
    background-image: url("../resources/projects/tablica_dibond_wymiar_a3_Modernizacja_wedkarskie.jpg");
}

#projects-section #cert5 {
    background-image: url("../resources/projects/tablica_dibond_wymiar_a3_Modernizacja_zawolcze.jpg");
}

#projects-section .certificates-box:hover {
    cursor: pointer;
}

#projects-section .certificates-box:hover .cert-mask {
    background-color: rgba(0, 63, 117, 0.5);
}

#projects-section .certificates-box:hover .cert-mask i {
    color: #fff;
    font-size: 100px;
}

#projects-section .col-sm {
    display: flex;
    align-items: center;
    justify-content: center;
}

#certificate-fixed-container {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#certificate-fixed-container embed {
    width: 80%;
    height: 80%;
}

footer {
    background-color: #2C3E50;
    padding: 50px;
    -webkit-box-shadow: 0px -5px 40px 5px #000000;
    box-shadow: 0px -5px 40px 5px #000000;
}

footer p {
    text-align: center;
    color: #fff;
}
